<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link href="google.css" rel="stylesheet" />
    <title>Google Search</title>
  </head>
  <body>
    <div class="search">
      <img src="img/google.png" alt="Google Photos" />
      <form class="" action="/results" method="post">
        <input class="inputsearch" type="text" name="search" value="" />
        <button>Search</button>
      </form>
    </div>
  </body>
</html>
